.file {
	padding:5px 0;
}
.more {
	padding:1px 0 20px 0;
}
form {
	font-size:10pt;
}
.link {
	text-decoration:none;
	color:darkblue;
	cursor:pointer;
	border:0;
}
.link:hover {
	text-decoration:underline;
}
.tools-item {
	font-size:10pt;
	width:150px;
	min-height:40px;
	background-color:#f1f2f2;
	border:2px solid #fafbfb;
	padding:12px;
	margin:20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	display:block;
	float:left;
	text-align:center;
	cursor:pointer;
}

.tools-item:hover {
	background-color:#e1e2e2;
}
